.git
.idea
.vscode
.vagrant
.env
.env.prod
.env.test
.babelrc
.editorconfig
node_modules
.php_cs
.php_cs.cache
cghooks.lock
docker-compose.*
phpunit.xml
phpunit.dist.xml
readme.md
storage/**
docker/app/Dockerfile_app_build
docker/app/Dockerfile_app_local
docker/app/Dockerfile_php-fpm_base
docker/mysql/Dockerfile
patches
db_backups
data/minio/data
data/minio/log
vendor
data
core
tools/ansible_deployer
.php-cs-fixer.dist.php
.php-cs-fixer.php
.phpstorm.meta.php
_ide_helper.php
storage.tar.gz
